---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>
<hr />
<ul>
  {% assign sorted_publications = site.publications | sort: 'date' | reverse %} <!-- Sort by date in reverse (newest first) -->
  {% for post in sorted_publications %}
    {% if post.category == "journal articles" %}
      <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3> <!-- Link to detailed page -->
        <p>
          <strong>Authors:</strong> {{ post.authors }}<br />
          <strong>Journal:</strong> {{ post.journal }}<br />
          <strong>DOI:</strong> <a href="{{ post.doi }}">{{ post.doi }}</a><br />
          <strong>Date:</strong> {{ post.date | date: "%B %d, %Y" }}<br /> <!-- Display the date -->
          <strong>Indexing:</strong> {{ post.indexing }} <!-- Display the indexing information -->
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Conference Presentations</h2>
<hr />
<ul>
  {% assign sorted_conferences = site.publications | sort: 'date' | reverse %} <!-- Sort by date in reverse (newest first) -->
  {% for post in sorted_conferences %}
    {% if post.category == "conferences" %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>
          <strong>Authors:</strong> {{ post.authors }}<br />
          <strong>Venue:</strong> {{ post.venue }}<br />
          <strong>Date:</strong> {{ post.date_range }}<br />  <!-- Display the date range -->
          <strong>Type:</strong> {{ post.type }}
        </p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

